<% set_meta_tags title: 'About Gobierto' %>

  <div class="pre_home features">

    <div class="clearfix">

      <div class="about_block about_municipalities" id="municipalities">

        <div class="big_claim">Gobierto provides tools and consulting to help public administrations with transparency, participation and open government</div>

        <div class="sep"></div>

        <menu class="sections">
          <div class="sticky">

            <h3>About Gobierto</h3>

            <ul>
              <li><%= link_to 'About Gobierto Municipal Budgets', gobierto_budgets_pro_path(anchor: 'about_gob') %></li>
              <li><%= link_to 'About us', gobierto_budgets_pro_path(anchor: 'about_us') %></li>
              <li><%= link_to 'Gobierto in your region', gobierto_budgets_pro_path(anchor: 'gobierto_in') %></li>
              <li><%= link_to 'Technology', gobierto_budgets_pro_path(anchor: 'technology') %></li>
              <li><%= link_to 'Contact', gobierto_budgets_pro_path(anchor: 'contact') %></li>
            </ul>

          </div>
        </menu>

        <div class="features_col">

          <div class="feature" id="about_gob">

            <h3>About Gobierto Municipal Budgets</h3>

            <%= image_tag('illustrations/presupuestos.jpg') %>

            <p>Gobierto Presupuestos Municipales (Gobierto Municipal Budgets) is a tool to check, visualize and analyze the budgets of the +8.000 municipalities in Spain. We want citizens to easily access and question budget data when needed, promoting transparency and developing a data culture as ways to improve public spending efficiency. </p>

            <h3 class="feat">Gobierto Municipal Budgets provides commercial services to help municipalities connect better with their constituency around budgets.</h3>

            <p>We provide tools and consulting to ease the integration of visualizations and high-quality tools in their websites, customization of the visualizations and integration of extra data, communication tools to help municipalities highlight specific projects, participatory budget tools to get citizen feedback… </p>

            <p>Also, Gobierto is a powerful analysis tool for local administration professionals, journalists, analists and consultants who need to dive deep into budget data, make comparisons, find patterns, etc.</p>

            <div class="sep"></div>

            <h3 id="about_us">About us</h3>

            <p>Gobierto is an initiative to provide tools and consulting to promote transparency, open government, and participation for public administrations. Gobierto is a product line from Populate, a Madrid-based civic engagement company.</p>

            <h3 class="feat">We are a team of product designers and developers with a deep background in digital product development.</h3>

            <p>We have been creating online communities, consulting for big cos, and building startups for several years. We have been part-time activists, collaborating in different activities around civic engagement and open data.</p>

            <p>We have teamed up with some of the best open government specialists in Spain and Latinamerica. We are specialized in creating easy-to-use tools that make complex data accessible. Learn more about Populate's projects at <%= link_to 'populate.tools', 'http://populate.tools' %></p>

            <div class="sep"></div>

            <h3 id="gobierto_in">Do you want Gobierto Budgets for your region?</h3>

            <p>Gobierto is designed to be integrated in different contexts to visualize and contextualize budgets with a complex structure: local, regional and national governments; universities; companies... Integrating a budget to visualize in Gobierto is easy and fast. <%= link_to 'Contact us', 'mailto:info@gobierto.es' %> to know more.</p>

            <div class="sep"></div>

            <h3 id="technology">Technology</h3>

            <p>Gobierto Budgets is a Rails application with an Elastic Search as the main data store that allows us to achieve really fast loading times even for complex data queries such as those in comparisons or tables.</p>

            <p>We are firm believers in open source. We have open sources some of the tools we have built while developing Gobierto and other apps. Take a look at our Github: <%= link_to 'https://github.com/PopulateTools/', 'https://github.com/PopulateTools/' %>.</p>

            <div class="sep"></div>

            <h3 id="contact">Contact</h3>

            <p>Want to talk about budgets or civic engagement apps?</p>

            <h3 class="feat">Reach us at info@gobierto.es or +34650552940.</h3>


          </div>

        </div>


      </div>

    </div>



  </div>
