<header class="place ranking">

  <div>
    <h1>
      <%= title t('.rankings') %>
    </h1>
  </div>

  <%= image_tag('illustrations/analitica.jpg', class: 'f_right') %>

  <p><%= t(".#{places_collection_key}.subtitle") %></p>

  <div class="ranking_main_links">
    <%= link_to t('common.incomes').capitalize, locations_ranking_path(GobiertoBudgets::SearchEngineConfiguration::Year.last, 'I', 'economic', 'amount') %>
    <%= link_to t('common.expenses').capitalize, locations_ranking_path(GobiertoBudgets::SearchEngineConfiguration::Year.last, 'G', 'functional', 'amount') %>
  </div>

</header>


<div class="ranking_list">

  <div class="sep"></div>

  <h4><%= t('.highlights') %></h4>
  <% @ranking_paths.each_with_index do |path, i| %>
    <div class="ranking_card clearfix"
         data-widget-type="ranking_<%= i + 1 %>"
         data-widget-template="#widget-template"
         data-widget-data-url="<%= path %>">
    </div>
  <% end %>
  <%= render partial: 'gobierto_budgets/pages/ranking_card_template' %>
</div>
