<div class="rt_cont">

  <div class="spinner">
    <div class="bg"></div>
    <div class="cont">
      ...
    </div>
  </div>


  <table class="data_table" id="ranking-table">
    <thead>
      <th class="r_pos">#</th>
      <th class="location"><%= t('.municipality') %></th>

      <% column_filters.each do |column_filter| %>
        <th class="expense <%= class_if('selected', filter_selected?(column_filter[:key])) %>" title="<%= column_filter[:tooltip] %>">
          <%= link_to_unless(
                filter_selected?(column_filter[:key]),
                column_filter[:literal],
                filter_link_path(column_filter[:key]),
                remote: true
              ) %>
        </th>
      <% end %>

      <% if @variable != 'population' && @code.present? %>
        <th class="percentage">% s/ Total</th>
      <% end %>

      <th class="compare"><%= t('.compare') %></th>
    </thead>

    <tbody>
      <% @ranking_items.each_with_index do |ranking_item, i| %>
        <tr <%= 'class="selected"'.html_safe if ranking_item.place == @place %> id='place_<%= ranking_item.place.id %>'>
          <td class="r_pos"><%= GobiertoBudgets::Ranking.position(i, @page) %>.</td>
          <td class="location"><%= link_to ranking_item.place.name, gobierto_budgets_place_path(ranking_item.place.slug, @year) %> (<%= ranking_item.place.province.name %>)</td>
          <td class="expense <%= class_if('selected', filter_selected?('population')) %>"><%= number_with_precision ranking_item.population, precision: 0, delimiter: '.' %></td>
          <td class="expense <%= class_if('selected', filter_selected?('amount_per_inhabitant')) %>"><%= formatted_amount(ranking_item.amount_per_inhabitant) %></td>
          <td class="expense <%= class_if('selected', filter_selected?('amount')) %>"><%= formatted_amount(ranking_item.amount.to_i) %></td>
          <% if @variable != 'population' && @code.present? %>
            <td class="percentage" <%= class_if('selected', filter_selected?('amount')) %>><%= percentage_of_total(ranking_item.amount, ranking_item.total) %></td>
          <% end %>
          <td class="compare">
            <%= link_to t('.compare'), '#', class: 'tool_button js-add_compare_no_hide', data: {place: compare_slug(ranking_item.place,@year)}, title: "Comparar #{ranking_item.place.name} con el resto de municipios que tengas en el comparador" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
