<%
  @title = t('.title', place: current_organization.name, year: @year)
  set_meta_tags title: @title
  set_meta_tags description: t('.description', place: current_organization.name, year: @year)
%>

<%= render partial: 'place_header' %>

<%= render partial: 'place_widgets' %>

<div class="execution">

  <% if flash[:alert] %>
    <p><em><%= flash[:alert] %></em></p>
  <% end %>

	<div class="pure-g">
		<div class="pure-u-1 pure-u-lg-11-24">
			<div class="deviation_widget"
				data-widget-template="#widget-template-deviation"
    		data-widget-type="budget_execution_deviation"
    		data-widget-data-url="<%= gobierto_budgets_api_data_budget_execution_deviation_path(organization_slug: current_organization.combined_slug, year: @year, kind: GobiertoBudgets::BudgetLine::INCOME, format: :json, places_collection: params[:places_collection]) %>"
    		data-callback="render_evo_line">
			</div>
		</div>
		<div class="pure-u-1 pure-u-lg-2-24"></div>
		<div class="pure-u-1 pure-u-lg-11-24">
			<div class="deviation_widget"
				data-widget-template="#widget-template-deviation"
    		data-widget-type="budget_execution_deviation"
    		data-widget-data-url="<%= gobierto_budgets_api_data_budget_execution_deviation_path(organization_slug: current_organization.combined_slug, year: @year, kind: GobiertoBudgets::BudgetLine::EXPENSE, format: :json, places_collection: params[:places_collection]) %>"
    		data-callback="render_evo_line">
			</div>
		</div>
	</div>

	<div class="m_v_4">
		<div class="section_separator" name="separator">
		  <div class="sep"></div>
        <p><strong><%= t('.execution_help') %></strong></p>
        <p><%= t('.execution_disclaimer') %></p>
		  <div class="sep"></div>
		</div>
	</div>


	<div class="pure-g">
		<div class="pure-u-1 pure-u-lg-11-24 deviation_table_container">

      <h2 class="lite"><%= t('.budget_lines_income_higher') %></h2>

			<%= render partial: 'execution_table', locals: {data: @top_possitive_difference_income, kind: GobiertoBudgets::BudgetLine::INCOME, area: 'economic'} %>

			<div class="separator"></div>

      <h2 class="lite"><%= t('.budget_lines_income_lower') %></h2>

			<%= render partial: 'execution_table', locals: {data: @top_negative_difference_income, kind: GobiertoBudgets::BudgetLine::INCOME, area: 'economic'} %>

		</div>
		<div class="pure-u-1 pure-u-lg-2-24"></div>
		<div class="pure-u-1 pure-u-lg-11-24 deviation_table_container">

      <h2 class="lite"><%= t('.budget_lines_expense_higher') %></h2>

			<div class="form_filters">
        <ul>
          <li><%= link_to 'Económica', '', class: 'toggle', "data-tab-target": 'economic' %></li>
          <li><%= link_to 'Funcional', '', class: 'toggle active', "data-tab-target": 'functional' %></li>
        </ul>
      </div>

			<div class="tab_content" data-tab="economic" style="display: none">

				<%= render partial: 'execution_table', locals: {data: @top_possitive_difference_expending_economic, kind: GobiertoBudgets::BudgetLine::EXPENSE, area: 'economic'} %>

				<div class="separator"></div>

        <h2 class="lite"><%= t('.budget_lines_expense_lower') %></h2>

				<%= render partial: 'execution_table', locals: {data: @top_negative_difference_expending_economic, kind: GobiertoBudgets::BudgetLine::EXPENSE, area: 'economic'} %>

			</div>

			<div class="tab_content" data-tab="functional">

				<%= render partial: 'execution_table', locals: {data: @top_possitive_difference_expending_functional, kind: GobiertoBudgets::BudgetLine::EXPENSE, area: 'functional'} %>

				<div class="separator"></div>

        <h2 class="lite"><%= t('.budget_lines_expense_lower') %></h2>

				<%= render partial: 'execution_table', locals: {data: @top_negative_difference_expending_functional, kind: GobiertoBudgets::BudgetLine::EXPENSE, area: 'functional'} %>
			</div>

		</div>
	</div>

</div>
<%= render partial: 'shared/widget_template_deviation' %>
