<% set_meta_tags(title: page_title) %>

<header class="place">

    <div class="form_filters js-expense-filter-show" <%= show_if expense_filter? %>>
      <ul>
        <li>
          <%= link_to(
                t('common.economic'),
                gobierto_budgets_places_ranking_path(@year, @kind, 'economic', @variable, ine_code: params[:ine_code], f: params[:f]),
                class: "#{'buttonSelected' if @area_name == 'economic'} js-ranking-link",
                data: { turbolinks: false },
                id: 'Economica'
              ) %>
        </li>
        <li>
          <%= link_to(
                t('common.functional'),
                gobierto_budgets_places_ranking_path(@year, @kind, 'functional', @variable, ine_code: params[:ine_code], f: params[:f]),
                class: "#{'buttonSelected' if @area_name == 'functional'} js-ranking-link",
                data: { turbolinks: false },
                id: 'Funcional'
              ) %>
        </li>
      </ul>
    </div>

  <h1>
    <%= render partial: 'gobierto_budgets/places/year_switcher' %>
    <span id="page-short-title"><%= page_short_title %></span>
  </h1>

  <div class="share_links">
    <%= link_to(
          '<i class="fa fa-twitter"></i>'.html_safe,
          twitter_share_url,
          class: 'small_button popup',
          data: { rel: 'Twitter' }
        ) %>
    <%= link_to(
          '<i class="fa fa-facebook"></i>'.html_safe,
          facebook_share_url,
          class: 'small_button popup',
          data: { rel: 'Facebook' }
        ) %>
  </div>

  <header class="sub">
      <span class="js-population-ranking-show" <%= show_if population_ranking? %>>
        <div class="switcher kind_switcher">
          <%= link_to t('.population'), '', class: 'current' %>
        </div>
      </span>

      <span class="js-budgets-ranking-show" <%= show_if budgets_ranking? %>>
        <div class="switcher kind_switcher">
          <%= link_to "#{kind_literal(@kind).capitalize} #{t('.per_inhabitant') if @variable == 'amount_per_inhabitant'} <i class='fa fa-angle-down'></i>".html_safe, '', class: 'current' %>
          <ul>
            <li><%= link_to(
                      kind_literal(@kind).capitalize,
                      gobierto_budgets_places_ranking_path(@year, @kind, @area_name, @variable, ine_code: params[:ine_code], f: params[:f]),
                      class: 'js-ranking-link',
                      data: { turbolinks: false }
                  ) %></li>
            <li><%= link_to(
                      kind_literal(other_kind(@kind)).capitalize,
                      gobierto_budgets_places_ranking_path(@year, other_kind(@kind), @area_name, @variable, ine_code: params[:ine_code], f: params[:f]),
                      class: 'js-ranking-link',
                      data: { turbolinks: false }
                    ) %></li>
          </ul>
        </div>

        <% (1..@compared_level + 1).each do |level| %>
          <span class="sep"> » </span>
      </span>

      <span>
        <div class="switcher kind_switcher">
          <%
          selected_branch_code = @code ? @code[0...level] : nil
          if level == @compared_level + 1
            previous_branch_code = @code
            current_link_literal = t('.total')
          else
            previous_branch_code = selected_branch_code[0...level-1]
            current_link_literal = budget_line_denomination(@area_name, selected_branch_code, @kind)
          end
          items = categories_in_level(@area_name, @kind, level, previous_branch_code)
          %>

          <%= link_to "#{current_link_literal} <i class='fa fa-angle-down'></i>".html_safe, gobierto_budgets_places_ranking_path(@year, @kind, @area_name, @variable, selected_branch_code, ine_code: params[:ine_code], f: params[:f]), class: 'current' %>
          <% if items.any? %>
            <ul>
              <% items.each do |code, name| %>
                <li>
                  <%= link_to(
                        budget_line_denomination(@area_name, code, @kind),
                        gobierto_budgets_places_ranking_path(@year, @kind, @area_name, @variable, code, ine_code: params[:ine_code], f: params[:f]),
                        class: 'js-ranking-link',
                        data: { turbolinks: false }
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      </span>

    <div data-budget-line-categories-tree data-api-url="<%= gobierto_budgets_api_categories_path(format: :json) %>">
      <div class="sidebar_wrapper">
        <div class="items">
          <table>
            <tr data-search-box>
              <th>
                <input type="text" placeholder="Buscar una partida..." class="search_items" data-search-box>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </header>
</header>

<div class="rankings">
  <div class="filters " data-ranking-url="<%= url_for(params.except(:f,:page,:offset)) %>">
    <ul>
      <li>
        <h4><%= t('.size') %></h4>
        <div class="filter_cont">
          <div id="filter_population"></div>
        </div>
        <%= t('.between') %> <span id='size_value_0'></span> <%= t('.and') %> <span id='size_value_1'></span></li>
      <li>
        <h4><%= kind_literal(@kind, false).titleize %> <%= t('.total').downcase %></h4>
        <div class="filter_cont">
          <div id="filter_total"></div>
        </div>
        <%= t('.between') %> <span id='total_value_0'></span> <%= t('.and') %> <span id='total_value_1'></span>
      </li>
      <li>
        <h4><%= kind_literal(@kind, false).titleize %> <%= t('.per_inhabitant') %></h4>
        <div class="filter_cont">
          <div id="filter_per_inhabitant"></div>
        </div>
        <%= t('.between') %> <span id='per_inhabitant_value_0'></span> <%= t('.and') %> <span id='per_inhabitant_value_1'></span>
      </li>
      <% unless GobiertoBudgets::SearchEngineConfiguration::Scopes.places_scope? %>
        <li>
          <h4><%= t('.autonomous_region') %></h4>
          <div id="filter_per_aarr">
            <%= select_tag(:aarr,options_for_select(rankings_select)) %>
          </div>
        </li>
      <% end %>
  </div>

  <%= render partial: 'ranking_table' %>
  <%= paginate @ranking_items, remote: true %>

  <div class="disclaimer">
    <div class="sep"></div>
    <p><%= t('.disclaimer') %>. Más información: <%= link_to t('.why'), gobierto_budgets_faq_path(anchor: 'no_data') %>
    </p>
  </div>

</div>
