<h2 class="section_heading"><%= t('.compare_municipalities') %></h2>

<%= form_tag '#', id: 'compare_form' do %>

  <p class="center"><%= t('.select_municipalities') %></p>

  <input type="text" class="search_compare" value="" placeholder="<%= t('.search_municipality', n: 1) %>" name="place1" />
  <input type="text" class="search_compare" value="" placeholder="<%= t('.search_municipality', n: 2) %>" name="place2" />
  <input type="text" class="search_compare" value="" placeholder="<%= t('.search_municipality', n: 3) %>" name="place3" />

  <%= submit_tag t('.compare'), disabled: "true" %>

<% end %>

<div class="examples center">

  <p><%= t('.check_some_examples') %></p>

  <ul>
    <li><%= link_to 'Barcelona + Lleida + Girona + Tarragona', "/compare/barcelona:lleida:girona:tarragona/#{GobiertoBudgets::SearchEngineConfiguration::Year.last}/G/economic", class: 'button' %></li>
    <li><%= link_to 'Vic + Mataró + Badalona + Reus', "/compare/vic:mataro:badalona:reus/#{GobiertoBudgets::SearchEngineConfiguration::Year.last}/G/economic", class: 'button' %></li>
  </ul>

  <p><%= link_to t('.how_it_works'), '', class: 'toggle_div', data: { target: 'how_it_works' } %></strong></p>

  <div class="how_it_works" style="display: none;">

    <p><%= t('.description') %></p>

    <%= image_tag 'gobierto_compare_demo.gif', width: '100%' %>

  </div>
</div>

<% content_for(:javascript) do %>

function extractFormParameters($sel){
  var slugs = [];
  $sel.serializeArray().forEach(function(e){
    if(/^place/.test(e.name) && e.value !== ""){
      slugs.push(e.value);
    }
  });
  return slugs;
}

var searchOptions = {
  serviceUrl: '/search',
  onSelect: function(suggestion) {
    if(suggestion.data.type == 'Place') {
      ga('send', 'event', 'Compare Search', 'Click', 'Search', {nonInteraction: true});
      if(mixpanel.length > 0) {
        mixpanel.track('Compare Search', { 'Place': suggestion.data.slug});
      }
      $(this).val(suggestion.data.slug);
      $(this).nextAll('input[type!=hidden]').first().focus();

      if(extractFormParameters($('form')).length > 1) {
        $('form input:submit').attr('disabled', false);
      }
    }
  },
  groupBy: 'category'
};

$('.search_compare').autocomplete($.extend({}, AUTOCOMPLETE_DEFAULTS, searchOptions));

$('#compare_form').on('submit', function(e){
  e.preventDefault();
  var slugs = extractFormParameters($(this));
  if(slugs.length > 0) {
    Turbolinks.visit('/compare/' + slugs.join(':') + '/2015/G/functional');
  }
});

<% end %>
