<%= flush_the_flash %>

<div class="pre_home">

  <h2><%= t('.subtitle') %></h2>

  <input type="text" class="places_search search_auto" placeholder="<%= t(".#{places_collection_key}.search_location") %>" autofocus="true">

  <p class="example"><%= t('.for_example') %>:
    <%= link_to 'Barcelona', '/places/barcelona' %>, <%= link_to 'Lleida', '/places/lleida'  %>, <%= link_to 'Girona', '/places/girona'  %>, <%= link_to 'Tarragona', '/places/tarragona'  %>.
  </p>

  <div class="home_section">
    <%= render partial: 'gobierto_budgets/pages/compare_big' %>
  </div>

  <div class="home_section">
    <h2 class="section_heading"><%= t('.explore_rankings') %></h2>

    <%= form_tag gobierto_budgets_places_ranking_path(GobiertoBudgets::SearchEngineConfiguration::Year.last,'G','functional','amount'), method: 'GET' do %>
      <%= hidden_field_tag 'f[aarr]' %>
      <div id="explore_prompt">
        <%= t('.explore_the_ranking_for') %>
        <div id="home_kind_switcher" class="switcher kind_switcher">
          <%= link_to "#{t('common.expenses')} <i class='fa fa-angle-down'></i>".html_safe, '#', data: {value: 'G'}, class: 'selected' %>
          <ul>
            <li><%= link_to t('common.expenses'), '#', data: {value: 'G'} %></li>
            <li><%= link_to t('common.incomes'), '#', data: {value: 'I'} %></li>
          </ul>
        </div>
        <%= t('.for_municipalities_of') %> Catalunya
        <%= submit_tag t('.explore') %>
      </div>
    <% end %>

    <p id="ranking_examples"><%= t('.some_examples') %></p>

        <div class="ranking_cards_carousel">
      <div class="nav left_side"><a href='#' class='prev'>&lt;</a></div>
      <div class="the_content">
        <% ranking_examples_args = {
             ine: [
               ["I", "economic", "amount", 344],
               ["G", "functional", "amount_per_inhabitant", 336],
               ["G", "functional", "amount", 342],
               ["G", "functional", "amount_per_inhabitant", 165],
               ["G", "functional", "amount", 162],
               ["G", "functional", "amount_per_inhabitant", 44],
               ["I", "economic", "amount", 313],
               ["G", "functional", "amount_per_inhabitant", 171]
             ],
             deputation_eu: [
             ]
        } %>

      <% ranking_examples_args[places_collection_key].each_with_index do |args, i|
           widget_api_path = gobierto_budgets_api_data_ranking_path(
             GobiertoBudgets::SearchEngineConfiguration::Year.last,
             *args,
             format: :json,
             only_municipalities: true,
             places_collection: places_collection_key
           ) %>
            <div class="ranking_card clearfix"
                data-widget-type="ranking_<%= i %>"
                data-widget-template="#widget-template"
                data-widget-data-url="<%= widget_api_path %>">
            </div>
      <% end %>

      </div>
      <div class="nav right_side"><a href='#' class='next'>&gt;</a></div>

    </div>
  </div>

</div>

<%= render partial: 'gobierto_budgets/pages/ranking_card_template' %>

<% content_for :javascript do %>

  $('[data-widget-type]:first').siblings().hide();
  $('a.next').click(function(e) {
    e.preventDefault();
    var current_widget = $('[data-widget-type]:visible');
    var next_widget = (current_widget.next().length > 0) ? current_widget.next() : current_widget.siblings().first();

    current_widget.velocity('transition.slideLeftLongOut');
    next_widget.velocity('transition.slideRightLongIn');
  })

  $('a.prev').click(function(e) {
    e.preventDefault();
    var current_widget = $('[data-widget-type]:visible');
    var prev_widget = (current_widget.prev().length > 0) ? current_widget.prev() : current_widget.siblings().last();

    current_widget.velocity('transition.slideRightLongOut');
    prev_widget.velocity('transition.slideLeftLongIn');
  })

<% end %>

<%= render partial: "custom/layouts/opendata_#{I18n.locale}" %>
