<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags twitter: { :site => '@gobierto'} %>
  <%= display_meta_tags site: t('.site_title'), reverse: true %>

  <%= stylesheet_link_tag    'gobierto_budgets/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gobierto_budgets/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('favicons/apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('favicons/apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('favicons/apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('favicons/apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('favicons/apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('favicons/apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('favicons/apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('favicons/apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicons/apple-touch-icon-180x180.png') %>">
  <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-32x32.png') %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-194x194.png') %>" sizes="194x194">
  <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-96x96.png') %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= asset_path('favicons/android-chrome-192x192.png') %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-16x16.png') %>" sizes="16x16">
  <link rel="manifest" href="<%= asset_path('favicons/manifest.json') %>">
  <link rel="mask-icon" href="<%= asset_path('favicons/safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= asset_path('favicons/mstile-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">
  <!-- GEN CAT -->
  <link rel="stylesheet" type="text/css" href="/css/FW_bootStarp_Generic.css">
  <link rel="stylesheet" type="text/css" href="/css/FW_Generic.css">
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/FW_IE8_Generic.css">
  <![endif]-->
  <style>
    <%= render partial: 'custom/css' %>
    <%= render partial: 'custom/gobierto' %>
  </style>
  <!-- /GEN CAT -->
  <%= yield(:header) %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
  <%= render 'layouts/analytics_header' %>
</head>

<body <%= data_attributes %>>

<!-- GEN CAT -->
<%= render partial: 'custom/layouts/header_ca' %>
<!-- /GEN CAT -->

<div class="container">

  <div class="main_content clearfix">
    <%= render partial: 'custom/layouts/navigation_ca' %>

    <%= yield %>
  </div>

</div>


<!-- GEN CAT -->
<%= render partial: "custom/layouts/footer_#{I18n.locale}" %>
<!-- /GEN CAT -->

<script type="text/javascript">
  'use strict';
  <%= yield :javascript %>

  $(function(){
    $(document).on('click', function(e){
      var target = $(e.target);
      var href = target.attr('href');
      if(href !== undefined && href.indexOf('locale') !== -1){
        e.preventDefault();
        e.stopPropagation();

        if(href.indexOf('es_ES') !== -1){
          window.location.href = '/locale/es';
        }
        if(href.indexOf('ca_CA') !== -1){
          window.location.href = '/locale/ca';
        }
      }
    });
  });
</script>

<%= render 'layouts/analytics_footer' %>

</body>
</html>
