<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'gobierto_budgets/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gobierto_budgets/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="ecNoEaligHFBWMfXXqbQAQYu7_XlW2vZtDuvom7c5DA" />

  <link rel="manifest" href="<%= asset_path('favicons/manifest.json') %>">
  <link rel="mask-icon" href="<%= asset_path('favicons/safari-pinned-tab.svg') %>" color="#5bbad5">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= asset_path('favicons/mstile-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <%= yield(:header) %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <style>
    <%= render partial: "custom/gobierto" %>  /* CSS Resets */
  </style>

  <%= render "layouts/gencat_analytics_head" %>
  <%= render "custom/layouts/custom_head_content_#{I18n.locale}" %>

</head>

<body <%= data_attributes %>>

<%= render 'layouts/gencat_analytics_noscript' %>

<!-- Overridable by Gencat -->
<%= render "custom/layouts/header_#{I18n.locale}" %>
<!-- ./Overridable by Gencat -->

<%= render "custom/layouts/breadcrumb" %>

<div class="container">

  <div class="main_content clearfix">
    <%= render "custom/layouts/navigation_ca" %>

    <%= yield %>
  </div>

</div>


<!-- Overridable by Gencat -->
<%= render "custom/layouts/footer_#{I18n.locale}" %>
<!-- ./Overridable by Gencat -->

<script type="text/javascript">
  'use strict';
  <%= yield :javascript %>

  $(function(){
    $('.widget_graph .help').hide();
    $(document).on('click', function(e){
      var target = $(e.target);
      var href = target.attr('href');
      if(href !== undefined && href.indexOf('locale') !== -1){
        e.preventDefault();
        e.stopPropagation();

        if(href.indexOf('ovt.gencat.cat') !== -1){
          window.location.href = href;
        }
        else if(href.indexOf('es_ES') !== -1){
          window.location.href = '/locale/es';
        }
        else if(href.indexOf('ca_CA') !== -1){
          window.location.href = '/locale/ca';
        }
      }
    });
  });
</script>

</body>
</html>
