<header class="place">
  <h1>Mapa por municipios</h1>
  <!-- <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu> -->
</header>

<%= render 'map_metrics' %>

<div class="map_sidebar">
  <div class="sidebar_wrapper">
    <div>
      <h2 class="sidebar_title">Explora las partidas</h2>
      <i class="wrap_sidebar fa fa-chevron-down pull-right" aria-hidden="true"></i>
    </div>
    <div class="items">
      <table>
      <tr>
        <th>
          <input type="text" placeholder="Busca partidas" class="search_items">
        </th>
      </tr>
      <tr>
        <td class="item_name">
          <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
          <%= link_to 'Impuestos directos', 'municipio_cat_level' %>
        </td>
      </tr>

      <!-- second level -->
        <tr class="child_group" id="level_2">
          <td colspan="5">

            <div class="child_tb_cont">
              <table>
              <tr>
                <td class="item_name">
                  <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
                  <%= link_to 'Impuesto sobre la renta' %>
                </td>
              </tr>
              <tr>
                <td class="item_name">
                  <div>
                    <%= link_to '<i class="fa fa-minus-square-o"></i>'.html_safe %> 
                    <%= link_to 'Impuestos sobre el capital' %>
                  </div>
                </td>
              </tr>

              <!-- third level -->
              <tr class="child_group" id="level_3">
                <td colspan="5">

                  <div class="child_tb_cont">
                    <table>
                    <tr>
                      <td class="item_name">
                        <%= link_to 'Impuesto sobre la renta de las personas físicas' %>
                      </td>
                    </tr>
                    <tr>
                      <td class="item_name">
                        <%= link_to 'Impuestos sobre sociedades' %>
                      </td>
                    </tr>
                    <tr>
                      <td class="item_name">
                        <%= link_to 'Impuestos sobre la renta de no residentes' %>
                      </td>
                    </tr>
                    </table>
                  </div>

                </td>
              </tr>
              <!-- /third level -->


              <tr>
                <td class="item_name">
                  <div>
                    <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
                    <%= link_to 'Impuesto sobre las actividades económicas' %>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="item_name">
                  <div>
                    <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
                    <%= link_to 'Impuesto sobre la renta' %>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="item_name">
                  <div>
                    <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
                    <%= link_to 'Impuestos sobre el capital' %>
                  </div>
                </td>
              </tr>
              </table>
            </div>

          </td>
        </tr>
      <!-- /second level -->  
      <tr>
        <td class="item_name">
          <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
          <%= link_to 'Impuestos indirectos' %>
        </td>
      </tr>
      <tr>
        <td class="item_name">
          <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe %> 
          <%= link_to 'Tasas y otros ingresos' %>
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>

<iframe width='100%' height='760' frameborder='0' src='https://marinapresasq.carto.com/viz/8ef95532-95cd-11e5-b26a-0e787de82d45/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

