<header class="place">
  <h1>Mapa por municipios</h1>
  <!-- <menu>
    <ul>
      <li><%= link_to 'Presupuesto' %></li>
      <li><%= link_to 'Ejecución' %></li>
      <li><%= link_to 'Indicadores' %></li>
      <li><%= link_to 'Rankings' %></li>
      <li><%= link_to 'Contexto' %></li>
    </ul>
  </menu> -->
</header>

<%= render 'map_metrics' %>
