<header class="module">
  <h1><%= link_to t('gobierto_participation.participation'), gobierto_participation_root_path, title: t('gobierto_participation.participation') %></h1>

  <menu class="module_nav">
    <%= link_to t('gobierto_participation.consultations'), gobierto_participation_consultations_path, title: t('gobierto_participation.consultations') %>
    <%= link_to t('gobierto_participation.ideas'), gobierto_participation_ideas_path, title: t('gobierto_participation.ideas') %>
    <% pending do %>
      <%= link_to 'Peticiones', 'participation_petitions' %>
      <%= link_to 'Reportes', 'participation_reports' %>
    <% end %>
  </menu>
</header>
