<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'gobierto_budgets/application', media: 'all', 'data-turbolinks-track' => true %>
  <% if action_name == 'map' %>
    <%= javascript_include_tag 'gobierto_budgets/application_maps', 'data-turbolinks-track' => true %>
  <% else %>
    <%= javascript_include_tag 'gobierto_budgets/application', 'data-turbolinks-track' => true %>
  <% end %>

  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="ecNoEaligHFBWMfXXqbQAQYu7_XlW2vZtDuvom7c5DA" />

  <link rel="manifest" href="<%= asset_path('favicons/manifest.json') %>">
  <link rel="mask-icon" href="<%= asset_path('favicons/safari-pinned-tab.svg') %>" color="#5bbad5">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= asset_path('favicons/mstile-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <%= yield(:header) %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>



  <%= render "layouts/analytics_header" %>
  <%= render "custom/layouts/custom_head_content_#{I18n.locale}" %>

  <style>
    <%= render partial: "custom/gobierto" %>  /* CSS Resets */
  </style>

</head>

<body <%= data_attributes %>>

<%= render 'layouts/gencat_analytics_noscript' %>

<!-- Overridable by Gencat -->
<%= render "custom/layouts/header_#{I18n.locale}" %>
<!-- ./Overridable by Gencat -->

<%= render "custom/layouts/breadcrumb" %>

<div class="container">

  <div class="main_content clearfix">
    <%= render "custom/layouts/navigation" %>

    <%= yield %>
  </div>

</div>


<!-- Overridable by Gencat -->
<%= render "custom/layouts/footer_#{I18n.locale}" %>
<!-- ./Overridable by Gencat -->

<script type="text/javascript">
  'use strict';
  <%= yield :javascript %>
</script>

</body>
</html>
